<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />

    <xacro:include filename="gazebo_control.xacro" />
    <!--<xacro:include filename="lidar.xacro" />-->
    <xacro:include filename="camera1.xacro" />
    <xacro:include filename="camera2.xacro" />
    <!--<xacro:include filename="camera3.xacro" />
    <xacro:include filename="camera4.xacro" />
    <xacro:include filename="camera5.xacro" />
    <xacro:include filename="camera6.xacro" />-->
    <!--<xacro:include filename="depth_camera.xacro" />-->

</robot>